logs/*
!.gitkeep
node_modules/
tmp
.idea
.tscache
.DS_Store
angular-phonecat-snapshots
bower_components/
*.js.map
.settings/
/app/album/album.repository.js
/application.js
.project
/app/artist/artist.model.js
app.js
/app/artist/artist.repository.spec.js
/app/artist/artist.repository.js
/app/album/album-list.directive.js
/app/_references.js
/app/common/in-memory-repository.js
/app/common/repository.js
/app/artist/artist-list.directive.js
/app/search/search.controller.js
