logs/*
!.gitkeep
node_modules/
tmp
.idea
.DS_Store
angular-phonecat-snapshots
bower_components/
*.js.map
.settings/
/app/album/album.repository.js
/application.js
.project
app.js
/app/artist/artist.repository.spec.js
/app/artist/artist.repository.js
/app/album/album-list.directive.js
